.card {
    margin-bottom: 30px;
    cursor: pointer;
}

.card-footer {
    padding: 0;
}

.inner{
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}
.inner:hover img {
    transform: scale(1.2)
}

ul li::after {
    content: "| "
}
ul li:last-child::after {
content: ""
}