<div (click)="viewDetail()" class="card shadow" style="width: 15rem;">
    <a href="#" class="badge badge-primary badge-pill w-25">{{movie.rate}}</a>
    <div class="inner">
        <img class="card-img-top .img-fluid" src="{{'./assets/movie-covers/' + movie.img}}" alt="Card image cap">
    </div>
  <div class="card-body text-center">
    <h5 class="card-title">{{ movie.name }}</h5>
    <!-- <p class="card-text">{{ movie.key }}</p> -->
  
  </div>
  <div *ngIf="showActions" class="card-footer text-center">
        <ul class="list-inline">
                <li *ngFor="let g of movie.genres" class="list-inline-item"> 
                    <a href=""> {{g}} </a> 
                </li>
        </ul>
  </div>
</div>