<div class="row">
    <div class="col-xl-10 col-md-9 col-sm-12">
    
    <main class="card shadow">
        <div class="row no-gutters">
            <aside class="col-sm-6 border-right">
                <div class="card-header">{{ movie.name}}</div>
    <article class="gallery-wrap"> 
    <div class="img-big-wrap">
      <div> <img src="{{ movie.img }}"></div>
    </div> <!-- slider-product.// -->
    </article> <!-- gallery-wrap .end// -->
            </aside>
            <aside class="col-sm-6">
    <article class="card-body">
        <dl>
            <dt>Popularity #{{ movie.id}}</dt>
        </dl>
            <hr>
    <dl>
      <dt>Description</dt>
      <dd><p> {{ movie.description}}</p></dd>
    </dl>
    <hr>

    <dl class="row">
      <dt class="col-sm-3">Length</dt>
      <dd class="col-sm-9">{{movie.length}}</dd>
    
      <dt class="col-sm-3">Genre</dt>
      <dd class="col-sm-9">
            <ul class="list-inline">
                <li *ngFor="let g of movie.genres" class="list-inline-item"> {{g}} </li>
            </ul>
      </dd>
    </dl>
    <div class="rating-wrap">
    
    </div> <!-- rating-wrap.// -->
    <hr>
        <div class="row">
            <div class="col-sm-7">
                <dl class="dlist-inline">
                      <dt>Rating: </dt>
                    <dd>
                            <ngb-rating [(rate)]="movie.rate"></ngb-rating>
                    </dd>
                </dl>  <!-- item-property .// -->
            </div> <!-- col.// -->
        </div> <!-- row.// -->
        <hr>
        <a href="#" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Play </a>
        <a href="#" class="btn  btn-outline-warning"> Preview </a>
    <!-- short-info-wrap .// -->
    </article> <!-- card-body.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </main> <!-- card.// -->
    